@import "tailwindcss";

@theme{
    --color-background:#1e1e1e;
    --color-section-color:#252529;
    --color-cornflowerblue:#6495ed;
    --color-heading-text:#eaeaea;
    --color-normal-text:#ccc;
    --color-dim-text:#7d8287;
    
    /* font family*/
    --font-roboto:'Roboto',sans-serif;
    --font-raleway:'Raleway',sans-serif;
    --font-gothic:'Special Gothic Expanded One',sans-serif;
    --font-source-serif:'Source Serif 4',comic  ;
    /* box-shadow */
    --shadow-cornflower:  10px 10px 2px rgba(100, 148, 237);
    --shadow-soft:0 0 2px rgb(96, 94, 94);
    --shadow-soft-1: 0 0 5px rgb(150, 150,150);

   --shadow-soft-hover: 0 0 5px rgb(189, 182, 182);
}


@layer base {
	.center-child {
		@apply flex justify-center items-center;
	}

	.flex-between {
		@apply flex justify-between;
	}

	.f-col {
		@apply flex flex-col;
	}

	.tools {
		@apply w-7  p-1.5  rounded-sm bg-gray-300 hover:bg-[#6495ED] flex justify-center items-center cursor-pointer;
	}
	.m-d-buttons {
		@apply w-full h-8 p-2 rounded-sm text-black  text-xs
         bg-gray-300  hover:bg-[#6495ED] flex justify-start items-center gap-2 cursor-pointer;
	}
	.m-d-buttons > img {
		@apply h-full;
	}
}
